<!-- "Join Team" (Post) Form -->
<div class="col-md-5">

    <!-- Creates Main Panel -->
    <div class="panel panel-default">

        <!-- Panel Title -->
        <div class="panel-heading">
            <h2 class="panel-title text-center">Innosoft- Search User<span class="glyphicon glyphicon-map-marker"></span></h2>
        </div>

        <!-- Panel Body -->
        <div class="panel-body">

            <!-- Creates Form (novalidate disables HTML validation, Angular will control) -->
            <form name ="queryForm" novalidate>

                <!-- Text Boxes and Other User Inputs. Note ng-model binds the values to Angular $scope -->
                <div class="form-group">
                    <label for="myfile">Image </label>
                       <!-- <input type="file" id="myfile" ngf-select ng-model="formData.myfile" name="myfile" ng-change="invokeUploadFile()" accept="image/*"  > -->
                       <input type="file" name="myfile" onchange="angular.element(this).scope().uploadFile(this.files)" ng-model="formData.myfile" id="myfile" >
                </div>
                <!-- Submit button. Note that its tied to createUser() function from addCtrl. Also note ng-disabled logic which prevents early submits.  -->
                <button type="submit" class="btn btn-danger btn-block" ng-click="findUser()" ng-disabled="queryForm.$invalid">Submit</button>
            </form>
        </div>
    </div>
</div>
